/* CSS Document */
h1{font-family:"Times New Roman", Times, serif;font-size:20px;color:#008000;}
h3{color:black; margin-bottom:5px;}
h9{clear:both;color:white; margin-bottom:5px;font-family:"Times New Roman", Times, serif;font-size:28px;text-align:center;}
h5{font-family:Garamond;font-size:14px;}
.circular {
margin-top:80px;width: 100px;height: 100px;border-radius: 100px;-webkit-border-radius:100px;
-moz-border-radius: 100px;background-size: cover;display: block;background-image:url(CYMERA_20151015_185112.jpg);
}
.circular img{opacity: 0;filter: alpha(opacity=0);}
.circular:hover{   filter: alpha(opacity=0);width:130px;height:130px;right:25px;top:25px;z-index:9999;}
p{font-family:Garamond;font-size:16px;margin:6px 0;}
.image-frame{ padding:10px;border:1px #ccc solid; margin:10px; }
.date{font-weight:bold; color:#070; margin-bottom:1px; }
a.more { clear: both; display: block; width: 103px; height: 30px; line-height: 30px; text-align: center; color: #000; font-weight: bold; background: url(images/tooplate_button.png);
	}
a.more:hover { text-decoration: none; color: #fff; }
.float_l { float: left }
.three-col {-moz-column-count: 3;-moz-column-gap: 7px;-webkit-column-count: 3;-webkit-column-gap: 7px;float:left;margin-left:130px;}
body {margin:0;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;line-height: 1.7em;  padding:0;background-image:url(background1.jpg);
	 background-repeat:no-repeat;background-attachment:fixed;}
#banner1{height: 50px;background-color:black;padding:0px;}
#banner1 a:link {color:white;font-size:12px;}
#banner1 a:visited { color:white;}
#banner1 a:active {color:white;}
#banner1 a:hover{color: #e98236;}
#banner1  ul li  {display:block;margin:0 auto;float:left;}
#banner1 ul li a {padding:0 8px;margin:0 auto;font-family: "Times New Roman", Times, serif;font-size: 13px;text-decoration: none;}
#outer {margin:0 auto;background-color:white;width:1100px;list-style:none;}
#wrapper {width:1000px;background-color:white;margin:0 auto;}
#logo {float:left;margin-top:60px;}
#socialicons{height:35px;float:right;margin-bottom:20px;margin-top:65px;}
#socialicons ul li {display:inline;}
#topnav   {clear:right;}
#topnav a:link{color:green; font-size:15px;}
#topnav a:visited{ color:green;;}
#topnav a:active{color:green;;}
#topnav a:focus{color:green;;}
#topnav a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#topnav  ul { border-top:1px #000 solid; border-bottom:1px #000 solid;margin:10px 0; padding:10px 0;}
#topnav  ul li {display:inline;}
#topnav  ul li a {padding:0 15px;font-family:"Times New Roman", Times, serif;font-size:10px;color:black; text-decoration: none;}
#banner{height: 70px;background-image:url(images/blog_image_03.jpg);-moz-border-radius: 25px; border-radius: 5px;}
#links{width:200px;height:880px;margin-right:10px;background-color:white;-moz-border-radius: 25px; border-radius: 12px;
color: hsl(36, 100%, 50%);float:left;}
#links h5:hover{color: #e98236; background-color:#e98236; }
#links a{text-decoration: none;}
#content{ width:400px;float:left;}
#content a{text-decoration: none;}
#rightnav{ width:200px;float:right;-moz-border-radius: 25px; border-radius: 12px;}
#rightnav a {text-decoration: none;}
#footer {clear:both; margin-top:20px; border-top:1px #000 solid; text-align:center;padding-bottom:20px;}
#footer a:link {color:green; font-size:14px;}
#footer a:visited { color:green;;}
#footer a:active {color:green;;}
#footer a:focus {color:green;;}
#footer a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#footer  ul li  {display:inline;}
#footer ul li a {padding:0 13px;font-family:Garamond;font-size:8px;color:black; text-decoration: none;}
