
--/* CSS Document */
h1{


	font-family:"Times New Roman", Times, serif;
	font-size:20px;
    color:#008000;
	}
h3{color:black; margin-bottom:5px;}
h9{
clear:both;
color:white; margin-bottom:5px;
font-family:"Times New Roman", Times, serif;
font-size:28px;
text-align:center;
}

h5{
	font-family:Garamond;
	font-size:14px;
    	}
p{
	font-family:Garamond;
	font-size:16px;
	margin:6px 0;
	}
.image-frame{ padding:10px;border:1px #ccc solid; margin:10px; }
.date{font-weight:bold; color:#070; margin-bottom:1px; }

a.more { 
	clear: both; 
	display: block; 
	width: 103px; 
	height: 30px; 
	line-height: 30px; 
	text-align: center; 
	color: #000; 
	font-weight: bold; 
	background: url(images/tooplate_button.png); 
}

a.more:hover { 
	text-decoration: none; 
	color: #fff; 
}
.float_l { float: left }


body {
	 margin:0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	 padding:0;
	background-repeat:no-repeat;
	 background-attachment:fixed;
	 background-image:url(background1.jpg);
	}
#outer {
	margin:0 auto;

	background-color:WHITE;
	
	width:1100px;
	list-style-tyle:none;
	-moz-border-radius: 25px; border-radius: 15px;}
#wrapper {
	width:1000px;
	margin:0 auto;
	background-color:white;
} 
#logo {
	
	float:left;
	 margin-top:5px;
	 }
#socialicons{
	height:35px;
	float:right;
	margin-bottom:15px;
}
#socialicons ul li {display:inline;}
#topnav   {
	clear:right;


}
#topnav a:link{color:green; font-size:15px;}
#topnav a:visited{ color:green;;}
#topnav a:active{color:green;;}
#topnav a:focus{color:green;;}
#topnav a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}

#topnav  ul { border-top:1px #000 solid; border-bottom:1px #000 solid;margin:10px 0; padding:10px 0;}
#topnav  ul li {display:inline;}
#topnav  ul li a {padding:0 15px;
font-family:"Times New Roman", Times, serif;
font-size:10px;color:black;}

#banner{
height: 50px;
background-color:#00B000;
color:#EEE;
-moz-border-radius: 25px; border-radius: 5px;

}
#links{
	width:200px;
	height:1000px;
	float:left;
	margin-right:10px;
	background: radial-gradient(at top left, yellow, green);
	-moz-border-radius: 25px; border-radius: 12px;
	color: hsl(36, 100%, 50%);
	}
#content{ width:400px;
float:left;}
#rightnav{ width:200px;
float:right;
-moz-border-radius: 25px; border-radius: 12px;
	}

#footer {
clear:both; margin-top:20px; border-top:1px #000 solid; text-align:center;
	padding-bottom:20px;

	
	}
		
#footer a:link {color:green; font-size:14px;}
#footer a:visited { color:green;;}
#footer a:active {color:green;;}
#footer a:focus {color:green;;}

#footer a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}

#footer  ul li  {display:inline;}
#footer  ul li a  {padding:0 15px;}
	
#footer ul li a {padding:0 13px;
font-family:Garamond;
font-size:8px;color:black;}



/*----------------------------------------------   
--Banner
-----------------------------------------------  */
.sect-banner {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.9);
  /*----------------------------------------------   
  -DEMO1: Unordered list
  -----------------------------------------------  */
  /*----------------------------------------------   
  -DEMO2: Banner bg
  -----------------------------------------------  */ }
  .sect-banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(118, 144, 164, 0.4);
    z-index: 0; }
  .sect-banner .v-center {
    position: relative;
    z-index: 2; }
  .sect-banner .v-center {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 4;
    padding: 0 5%; }
    .sect-banner .v-center h1 {
      -webkit-animation: fade-in ease-in-out 2s 0.5s both;
      -moz-animation: fade-in ease-in-out 2s 0.5s both;
      animation: fade-in ease-in-out 2s 0.5s both; }
    .sect-banner .v-center p {
      font-size: 120%;
      -webkit-animation: fade-in ease-in-out 2s 1s both;
      -moz-animation: fade-in ease-in-out 2s 1s both;
      animation: fade-in ease-in-out 2s 1s both; }
  .sect-banner ul.kf-slider li {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fade-out 9s infinite both;
    -moz-animation: fade-out 9s infinite both;
    animation: fade-out 9s infinite both;
    background-image: url(../images/banner-1-sm.jpg); }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li {
        background-image: url(../images/banner-1.jpg); } }
  .sect-banner ul.kf-slider li:nth-child(2) {
    background-image: url(../images/banner-2-sm.jpg);
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s; }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li:nth-child(2) {
        background-image: url(../images/banner-2.jpg); } }
  .sect-banner ul.kf-slider li:nth-child(3) {
    background-image: url(../images/banner-3-sm.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s; }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li:nth-child(3) {
        background-image: url(../images/banner-3.jpg); } }
  .sect-banner .banner-bg {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    background-image: url(../images/banner-1-sm.jpg);
    -webkit-animation: slider-sm ease-in-out 30s both infinite;
    -moz-animation: slider-sm ease-in-out 30s both infinite;
    animation: slider-sm ease-in-out 30s both infinite; }
    @media (min-width: 58em) {
      .sect-banner .banner-bg {
        background-image: url(../images/banner-1.jpg);
        -webkit-animation: slider-lg ease-in-out 30s both infinite;
        -moz-animation: slider-lg ease-in-out 30s both infinite;
        animation: slider-lg ease-in-out 30s both infinite; } }

/*----------------------------------------------   
-Footer
-----------------------------------------------  */

/*----------------------------------------------   
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*----------------------------------------------   
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
/*----------------------------------------------   
--Keyframes Slider - Sm
-----------------------------------------------  */
@-webkit-keyframes slider-sm {
  0% {
    background-image: url(../images/banner-1-sm.jpg); }
  33% {
    background-image: url(../images/banner-2-sm.jpg); }
  66% {
    background-image: url(../images/banner-3-sm.jpg); }
  100% {
    background-image: url(../images/banner-1-sm.jpg); } }
@-moz-keyframes slider-sm {
  0% {
    background-image: url(../images/banner-1-sm.jpg); }
  33% {
    background-image: url(../images/banner-2-sm.jpg); }
  66% {
    background-image: url(../images/banner-3-sm.jpg); }
  100% {
    background-image: url(../images/banner-1-sm.jpg); } }
@keyframes slider-sm {
  0% {
    background-image: url(../images/banner-1-sm.jpg); }
  33% {
    background-image: url(../images/banner-2-sm.jpg); }
  66% {
    background-image: url(../images/banner-3-sm.jpg); }
  100% {
    background-image: url(../images/banner-1-sm.jpg); } }
/*----------------------------------------------   
--Keyframes Slider - Lg
-----------------------------------------------  */
@-webkit-keyframes slider-lg {
  0% {
    background-image: url(../images/banner-1.jpg); }
  33% {
    background-image: url(../images/banner-2.jpg); }
  66% {
    background-image: url(../images/banner-3.jpg); }
  100% {
    background-image: url(../images/banner-1.jpg); } }
@-moz-keyframes slider-lg {
  0% {
    background-image: url(../images/banner-1.jpg); }
  33% {
    background-image: url(../images/banner-2.jpg); }
  66% {
    background-image: url(../images/banner-3.jpg); }
  100% {
    background-image: url(../images/banner-1.jpg); } }
@keyframes slider-lg {
  0% {
    background-image: url(../images/banner-1.jpg); }
  33% {
    background-image: url(../images/banner-2.jpg); }
  66% {
    background-image: url(../images/banner-3.jpg); }
  100% {
    background-image: url(../images/banner-1.jpg); } }
