/* CSS Document */

h1{font-family:"Times New Roman", Times, serif;font-size:20px;color:#00800;}
h3{color:black; margin-bottom:5px;}
h9{color:white;margin-left:350px;font-family:"Times New Roman", Times, serif;font-size:34px;margin-top:20px;}
p{font-family:Garamond;font-size:16px;margin:6px 0;}
.image-frame{ padding:10px;border:1px #ccc solid; margin:10px; }
.date{font-weight:bold; color:#070; margin-bottom:1px; }
a.more { clear: both; display: block; width: 103px; height: 30px; line-height: 30px; text-align: center; color: #000; font-weight: bold;
	background: url(images/tooplate_button.png); }
a.more:hover { text-decoration: none; color: #fff; }
.float_l { float: left }
body {margin:0;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;line-height: 1.7em;  padding:0;background-repeat:no-repeat;
background-attachment:fixed;background-image:url(background1.jpg);}
#outer {margin:0 auto;background-color:white;width:1100px;list-style-tyle:none;}
#wrapper {width:1000px;margin:0 auto;background-color:white;}
#logo {float:left;margin-top:65px;}
#socialicons{height:35px;float:right;margin-top:65px;margin-bottom:10px;}
#socialicons ul li {display:inline;}
#topnav {clear:right;}
#topnav a:link{color:green; font-size:15px;}
#topnav a:visited{ color:green;;}
#topnav a:active{color:green;;}
#topnav a:focus{color:green;;}
#topnav a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#topnav  ul { border-top:1px #000 solid; border-bottom:1px #000 solid;margin:10px 0; padding:10px 0;}
#topnav  ul li {display:inline;}
#topnav  ul li a {padding:0 15px;font-family:"Times New Roman", Times, serif;font-size:10px;color:black;text-decoration: none;}
#banner{height: 70px;background-image:url(images/blog_image_03.jpg);-moz-border-radius: 25px; border-radius: 5px;}
#banner1{height: 50px;background-color:black;padding:0px;}
#banner1 a:link {color:white;font-size:12px;}
#banner1 a:visited { color:white;}
#banner1 a:active {color:white;}
#banner1 a:hover{color: #e98236;}
#banner1  ul li  {display:block;margin:0 auto;float:left;}
#banner1 ul li a {padding:0 8px;margin:0 auto;font-family: "Times New Roman", Times, serif;font-size: 13px;text-decoration: none;}
#content{margin-top:1px; border-top:1px #000 solid;width:650px;float:left; text-decoration: none;}
#content a { text-decoration: none;}
#rightnav{width:200px;float:right; text-decoration: none;}
#rightnav a { text-decoration: none;}
#footer {clear:both; margin-top:20px; border-top:1px #000 solid; text-align:center;padding-bottom:20px;}
#footer a:link {color:green; font-size:14px;}
#footer a:visited { color:green;}
#footer a:active {color:green;}
#footer a:focus {color:green;}
#footer a:hover{color:#e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#footer  ul li  {display:inline;}
#footer ul li a {padding:0 13px;font-family:Garamond;font-size:8px;color:black;text-decoration: none;}
