/* CSS Document */

h1{font-family:"Times New Roman", Times, serif;font-size:20px;color:#008000;}
h3{color:black; margin-bottom:5px;}
h9{clear:both;color:white; margin-bottom:5px;font-family:"Times New Roman", Times, serif;font-size:20px;text-align:center;}
p{font-family:Garamond;font-size:16px;margin:6px 0;}.image-frame{ padding:10px;border:1px #ccc solid; margin:10px; }.date{font-weight:bold; color:#070; margin-bottom:1px; }
body {margin:0;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;line-height: 1.7em; padding:0;background-repeat:no-repeat;
	background-attachment:fixed;background-image:url(background1.jpg);}
#banner a { text-decoration: none;}
#banner1{height: 50px;background-color:black;padding:0px;}
#banner1 a:link {color:white;font-size:12px;}
#banner1 a:visited { color:white;}
#banner1 a:active {color:white;}
#banner1 a:hover{color: #e98236;}
#banner1  ul li  {display:block;margin:0 auto;float:left;}
#banner1 ul li a {padding:0 8px;margin:0 auto;font-family: "Times New Roman", Times, serif;font-size: 13px;text-decoration: none;}
#outer {margin:0 auto;background-color:white;width:1100px;list-style:none;}
#wrapper {width:1000px;margin:0 auto;background-color:white;}
#logo {float:left;margin-top:65px;}
#socialicons{height:35px;float:right;margin-bottom:20px;margin-top:70px;}
#socialicons ul li {display:inline;}
#topnav   {clear:right;}
#topnav a:link{color:green; font-size:15px;}
#topnav a:visited{ color:green;;}
#topnav a:active{color:green;;}
#topnav a:focus{color:green;;}
#topnav a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#topnav  ul { border-top:1px #000 solid; border-bottom:1px #000 solid;margin:10px 0; padding:10px 0;}
#topnav  ul li {display:inline;}
#topnav  ul li a {padding:0 15px;font-family:"Times New Roman", Times, serif;font-size:10px;color:black; text-decoration: none;}
#banner{background-color:#00B000;color:#EEE;-moz-border-radius: 20px; border-radius: 8px;margin-bottom:20px;}
#content{margin-bottom:30px;margin-top:1px; border-top:1px #000 solid; width:650px;float:left;}
#content { padding: 0; width: 400px; }
#content form { margin: 0px; padding: 0px; }
#content form .input_field { width: 390px; padding: 10px;border: 1px solid #ccc;  color: #333;
	background: #fff; font-family: Verdana,Geneva,sans-serif;font-size: 12px;margin-top: 5px;}
#content form label { display: block; width: 100px; margin-right: 10px; font-size: 14px; }
#content form textarea { width: 390px; height: 160px; padding: 10px; border: 1px solid #ccc;
	color: #333;background: #fff; font-family: Verdana,Geneva,sans-serif;font-size: 12px;margin-top: 5px;}
#content form .submit_btn { margin: 5px 0px;padding: 10px 20px; text-decoration: none; background: #fff; border: 1px solid #ccc;font-size: 14px; }
#map img { width: 300px; height: 200px; border: 1px solid #999; padding: 4px;}
#rightnav{ width:200px;float:right; text-decoration: none;}
#rightnav a { text-decoration: none;}
#footer {clear:both; margin-top:20px; border-top:1px #000 solid; text-align:center;	padding-bottom:20px;}
#footer a:link {color:green; font-size:14px;}
#footer a:visited { color:green;;}
#footer a:active {color:green;;}
#footer a:focus {color:green;;}
#footer a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#footer  ul li  {display:inline;}
#footer  ul li a  {padding:0 15px;}
#footer ul li a {padding:0 13px;font-family:Garamond;font-size:8px;color:black; text-decoration: none;}
