/* CSS Document */

h1{font-family:"Times New Roman", Times, serif;font-size:20px;color:green;}
h2 {margin: 0 0 15px 0;padding: 0 0 10px 0;font-size: 14px;color: #008000;border-bottom: 1px dotted #663e17;}
h3{color:black; margin-bottom:5px;}
.comment {padding-left: 25px;margin-left: 5px;}
h9{clear:both;color:white; margin-bottom:5px;font-family:"Times New Roman", Times, serif;font-size:20px;text-align:center;}
p{font-family:Garamond;font-size:16px;margin:6px 0;}
.image-frame{ padding:10px;border:1px #ccc solid; margin:10px; }
.image-f{position:relative;padding:2px;border:1px #ccc solid; margin:2px;}
.image-frame{position:relative;width:120px;height:90px;left:0px;top:0px;border:1px solid black;transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
-webkit-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;-o-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
-moz-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;}
.image-frame:hover{ width:250px;height:120px;right:25px;top:25px;  z-index:9999;}
.date{font-weight:bold; color:#070; margin-bottom:1px; }
a.more {clear: both;display: block;width: 103px;height: 30px;line-height: 30px;
text-align: center;color: #000;font-weight: bold;background: url(images/tooplate_button.png);}
a.more:hover {text-decoration: none;color: #fff;}
.float_l { float: left }
body {margin:0;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;
line-height: 1.7em;padding:0;background-image: url(background1.jpg);background-repeat:no-repeat; background-attachment:fixed;}
#outer {margin:0 auto;background-color:white;width:1100px;list-style:none;}
#wrapper {width:1000px;margin:0 auto;background-color:white;}
#slider {width: 900px;height: 200px;overflow: hidden;border: 1px solid #fff;}
#logo {float:left;margin-top:65px;}
#social{}
#social{height: 50px;background-color:black;padding:0px;margin-top:0px;float:right;}
#topnav { clear:left;left:-200px;}
#topnav a:link{color:green; font-size:15px;}
#topnav a:visited{ color:green;}
#topnav a:active{color:green;}
#topnav a:focus{color:green;}

#topnav li a:hover{color:#e98236;background-color:#6f3737;-moz-border-radius: 25px; border-radius: 25px;text-decoration: none;}
#topnav  ul { border-top:1px #000 solid; border-bottom:1px #000 solid;margin:10px 0; padding:10px 0;}
#topnav  ul li {display:inline;}
#topnav  ul li a {padding:0 15px;font-family:"Times New Roman", Times, serif;font-size:10px;color:black;text-decoration: none; }

#banner1{height: 50px;background-color:black;padding:0px;margin-top:0px;}
#banner1 a:link {color:white;font-size:12px;}
#banner1 a:visited { color:white;}
#banner1 a:active {color:white;}
#banner1 a:hover{color: #e98236;}
#banner1  ul li  {display:block;margin-top:8px;float:left;text-decoration: none;}
#banner1  ul li img{margin-top:5px;}
#banner1 ul li a {padding:0 8px;margin:0 auto;font-family: "Times New Roman", Times, serif;font-size: 13px; text-decoration: none;}
#content{margin-top:10px; border-top:1px #000 solid;width:650px;float:left;position:relative; text-decoration: none;}
#content a {text-decoration: none;}
#content h1 a :visited{color:green;}
#description {margin-bottom:20px;margin:20px;}
#templatemo_content_right a {text-decoration: none;}
#templatemo_content_right {float: right;width: 200px;margin-top:15px;margin-bottom: 15px;	margin-right:50px;
font-family:Garamond;font-size: 17px;line-height: 1.7em;text-decoration: none;}
#templatemo_content_right .templatemo_right_section a:visited { color:black;}
#templatemo_content_right .templatemo_right_section a:link { color:green;}
#templatemo_content_right .templatemo_right_section a:active { color:blue; }
#templatemo_content_right .templatemo_right_section a:hover{ color:blue;}
#templatemo_content_right .templatemo_right_section { clear:both;display:inline-block;width:180px;-moz-border-radius: 25px;
border-radius: 13px;padding: 5px 5px 10px 5px;margin-bottom: 0px;background-color: #FFF;}
#templatemo_content_right .templatemo_right_section .popular_post {list-style: none;margin: 0;padding: 0;text-decoration: none;}
#templatemo_content_right .templatemo_right_section .popular_post li {border-bottom:1px solid #22250e;margin: 0 0 5px 0;padding: 0 0 5px 0;text-decoration: none;}
#templatemo_content_right .templatemo_right_section ul{clear: both;margin: 0 0 0 15px;padding:0px;}
#templatemo_content_right .templatemo_right_section ul li{margin: 0 0 5px 0;text-decoration:none;}
#footer {clear:both; margin-top:20px; border-top:1px #000 solid; text-align:center;padding-bottom:20px;}
#footer a:link {color:green; font-size:14px;}
#footer a:visited{ color:green;;}
#footer a:active {color:green;;}
#footer a:focus {color:green;;}
#footer a:hover{color: #e98236;background-color: #6f3737;-moz-border-radius: 25px; border-radius: 25px;}
#footer  ul li  {display:inline;}
#footer ul li a {padding:0 13px;font-family:Garamond;font-size:8px;color:black;text-decoration: none;}
figure.clapperboard { position: relative; overflow: hidden; }
figure.clapperboard figcaption { position :absolute; top: 0; left: 0; padding: 6px; }
figure.clapperboard{ width:200px; height:180px;}
figure.clapperboard figcaption { width:250px; height:200px;}
figure.clapperboard figcaption {font-family: Futura, Arial, sans-serif; font-style: italic;
color: white; font-size: 10px; padding: 6px; padding-top: 65px;box-sizing: border-box; background: rgba(0,0,0,0);
text-shadow: 3px 3px 1px rgba(0,0,0,0.6);transform-origin: bottom right;transform: rotate(90deg);}
figure.clapperboard:hover figcaption {transform: rotate(0);opacity: 1;background: rgba(0,0,0,0.6);
transition: transform 2s cubic-bezier(.12,.49,.17,.87), background .5s linear 2.2s;}
figure.clapperboard figcaption q { font-size: 13px; display: block; margin-bottom: 20px; }
